@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&display=swap');

* {
  margin: 1px;
  padding: 5px 0;
  box-sizing: border-box;
  /* Garante que o padding e borda não afetem o tamanho total do elemento */
}

#minha_img {
  width: 960px;
}

nav {
  background-color: #eb8144bd;
}

header,
footer {
  background-color: rgba(104, 52, 4, 0.925);
  text-align: center;
  color: white;
}

.titulo {
  background-color: rgba(104, 52, 4, 0.925);
  text-align: center;
  font-family: "Protest Riot", sans-serif;
  font-size: 25px;
  padding: 10px;
}

.menu {
  list-style-type: none;
  /* Remove os pontos */
  display: flex;
  /* Exibe os itens em linha */
  justify-content: center;
  /* Alinha os itens ao centro */
  padding: 5px 0;
  /* Espaçamento vertical */
}

.menu li {
  margin: 0 20px;

}

.menu a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.3s ease;
}

.menu a:hover {
  background-color: rgba(141, 74, 11, 0.884);
  color: #ffffff;
}

.container {
  width: 960px;
  margin: auto;
}

p {
  font-size: 20px;
  padding-left: 5px;
  padding-top: 10px;
}

a {
  font-size: 30px;
  text-decoration: none;
}

a:hover {
  color: #fafafa;
}

body {
  background-color: #b4967e;
}

#minha_tabela {
  width: 400px;
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

#img_tabela {
  width: 200px;
  /* Define a largura da imagem para 200px */
  height: 200px;
  border-radius: 25px;
}

#minha_tabela tr:hover {
  background-color: rgb(255, 255, 255);
  font-size: 18px;
}

form input:hover {
  background-color: #94ced3;
}

form textarea:hover {
  background-color: #94ced3;
}