@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Protest+Riot&display=swap');

* {
  margin: 1px;
  padding: 5px 0;
  box-sizing: border-box;
  /* Garante que o padding e borda não afetem o tamanho total do elemento */
}

#minha_img {
  width: 960px;
}

nav {
  background-color: #c1f1f5;
}

header,
footer {
  background-color: rgb(124, 162, 180);
  text-align: center;
}

.titulo {
  background-color: rgb(66, 124, 124);
  text-align: center;
  font-family: "Protest Riot", sans-serif;
  font-size: 25px;
  padding: 10px;
}

.menu {
  list-style-type: none;
  /* Remove os pontos */
  display: flex;
  /* Exibe os itens em linha */
  justify-content: center;
  /* Alinha os itens ao centro */
  padding: 5px 0;
  /* Espaçamento vertical */

}

.menu li {
  margin: 0 20px;

}

.menu a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  padding: 10px 15px;
  transition: 0.3s ease;
}

.menu a:hover {
  background-color: rgb(66, 124, 124);
  color: #ffffff;
}

.container {
  width: 960px;
  margin: auto;
}

p{
  font-size: 20px;
}

a{
  font-size: 30px;
  text-decoration: none;
}

a:hover {
  color: #fafafa;
}

body {
  background-color: #a4b4c7;
}

#minha_tabela{
  width: 400px;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  margin: auto;
  padding: 10px;
}

#img_tabela{
  width: 200px;   /* Define a largura da imagem para 300px */
  height: 200px;
}

